<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="static/mainpage.css">
</head>
<body>

    <div class="input-output">
        <div class="kokuban-s1">
        <canvas id="canvas" height="280" widtd="280" style="background-color: white;"></canvas>
        </div>
        <div class="output">

    <table id="result-table">
        <tr>
            <th>数字</th>
            <th>0</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
        </tr>
        <tr>
            <td>確率</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
    </table>
</div>
</div>
<br>
<button type="button" id="btn-send">判定</button>


<script type="text/javascript" src="./static/canvas2img.js" charset="utf-8">
</script>
</body>
</html>