<!DOCTYPE html>
<html>
<head>
    <title>手書き文字認識</title>
    <link rel="stylesheet" href="static/mainpage.css">
</head>
<body>
    {{ message }}<br>
    
    <div class="kokuban-s1">
    <canvas id="canvas" height="280" width="280" style="background-color: white;"></canvas>
    </div>
    <div class="output">
    <table>
        <tr>
            <th>0</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
        </tr>
        <tr>
            <th>0</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
        </tr>
    </table>
    </div>

    <br>
    <button type="button" id="btn-send">判定</button>

    <script type="text/javascript" src="./static/canvas2img.js" charset="utf-8">
    </script>
</body>
</html>