body{
    background-color: #e2fdfd;
}

.input-output {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*　テープ　枠　1 */
/* https://love-wave.com/css-waku/ */
/* 黒板風　1 */
.kokuban-s1 {
    position: relative;
    margin: 2em auto;
    padding: 1em;
    width: 350px; /* ボックス幅 */
    background: #202020; /* ボックス背景色 */
    color: #fff; /* 文章色 */
    border: 7px solid #b2771f; /* 枠線 */
    border-radius: 3px; /* 角の丸み */
    box-shadow: 0 0 5px #333;
}
.kokuban-s1::before,
.kokuban-s1::after {
    position: absolute;
    content: '';
    bottom: 0;
} 
.kokuban-s1::before {
    width: 20px;
    right: 10px;
    border: solid 3px #ff42a0; /*チョーク（ピンク） */
    border-radius: 3px 2px 0 2px;
}
.kokuban-s1::after {
    width: 15px; 
    right: 45px;
    border: solid 3px #fff; /*チョーク（白） */
    border-radius: 8px 5px 2px 5px;
}

.kokuban-s1 #canvas{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.output{
    position: relative;
    vertical-align: middle;
    margin: 2em auto;
    padding: 1em;
    width: 300px;
}

.output table{
    width: 100%;
}

.output table, th, td {
    border: solid 1px gray;
    border-collapse: collapse;
}

.output th,td {
    padding: 10px 10px;
}

.output table th{
    background-color: rgb(14, 161, 167);
    color: white;
    
}

.output table td{
    background-color: rgb(255, 255, 255);
    color: black;
}